<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Genki Health Watch App Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Genki Health Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GenkiHealth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2602CA992E96AB9F00F4B6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2602CA9F2E96AB9F00F4B6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2602CAFB2E96ADF200F4B6FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EEFDF62E98ED5A00BA774D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EEFE022E98ED5C00BA774D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EEFE0C2E98ED5C00BA774D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
